@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@source not "../../public";

body {
    font-family: 'Poppins', sans-serif;
}

/* Custom Button Style */
.btn-custom {
    background-color: #FACC15; /* Tailwind’s yellow-400 */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #EAB308; /* Tailwind’s yellow-500 */
}

.text-gold {
    color: #FACC15;
}

